@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url("https://use.typekit.net/wmd8hbj.css");
@import url("https://use.typekit.net/wmd8hbj.css");

:root {
    --color-secundario: black;
    --color-tres: cornflowerblue;
    --color-cuatro: crimson;
    --color-main: #F3F5FC;
    --color-principal: white;
    --color-sombreado: rgba(0, 0, 0, 0.3);
    --color-translucido: rgba(0, 0, 0, 0.5);
    --fuente-alternativa: "tilt-warp", sans-serif;
    --fuente-principal: "shantell-sans-informal", sans-serif;
    --fuente-secundaria: "Patrick Hand", cursive;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    font-family: var(--fuente-principal);
    font-style: normal;
    font-weight: 700;
    height: 100vh;
}

i {
    padding-right: 0.3rem;
}

strong {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    font-weight: 500;
}

span:last-child {
    border-right: none;
}

.encabezado {
    background-color: var(--color-principal);
    border-bottom: 0.5rem solid var(--color-tres);
    color: var(--color-tres);
    font-family: var(--fuente-secundaria);
    font-style: normal;
    font-weight: 700;
    font-size: xx-large;
    padding: 0.5rem 2rem;
    text-align: center;
}

.main {
    background-color: var(--color-principal);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
}

.main-dinero {
    font-size: larger;
    padding: 0rem 1rem;
}

.intermedio {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.intermedio-izquierda {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 2rem;
    text-align: center;
}

.intermedio-izquierda-informacion {
    font-family: var(--fuente-alternativa);
    font-weight: 500;
}

.intermedio-izquierda-input-texto {
    background-color: var(--color-principal);
    border: 0.1rem solid var(--color-tres);
    font-family: var(--fuente-secundaria);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    outline: none;
    padding: 0.5rem 0rem;
    width: 30%;
}

.intermedio-izquierda-advertencia {
    align-items: center;
    background-color: var(--color-main);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-sombreado);
    display: flex;
    text-align: center;
    padding: 0.5rem 0rem;
}

.intermedio-span {
    border-right: 0.1rem solid var(--color-secundario);
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.intermedio-izquierda-input-numero {
    background-color: var(--color-principal);
    border: 0.1rem solid var(--color-tres);
    font-family: var(--fuente-secundaria);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    outline: none;
    padding: 0.5rem 0rem;
    width: 40%;
}

.intermedio-izquierda-input-numero::-webkit-inner-spin-button,
.intermedio-izquierda-input-numero::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.intermedio-izquierda-boton {
    border-radius: 2rem;
    font-family: var(--fuente-secundaria);
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 0.35rem;
    transition: background-color 0.5s ease;
    width: 15%;
}

.intermedio-izquierda-boton:enabled {
    background-color: var(--color-principal);
    outline: 0.2rem solid var(--color-secundario);
}

.intermedio-izquierda-boton:enabled:hover {
    color: var(--color-principal);
    background-color: var(--color-tres);
    outline: 0.2rem solid var(--color-secundario);
}

.intermedio-derecha {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 7rem;
}

.intermedio-derecha-animacion {
    flex: 1;
    padding: 3rem 0rem;
    width: 23rem;
}

.intermedio-derecha-boton {
    border-radius: 2rem;
    font-family: var(--fuente-secundaria);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 0.35rem;
    transition: background-color 0.5s ease;
    width: 60%;
}

.intermedio-derecha-boton:enabled {
    background-color: var(--color-principal);
    outline: 0.2rem solid var(--color-secundario);
}

.intermedio-derecha-boton:enabled:hover {
    color: var(--color-principal);
    background-color: var(--color-cuatro);
    outline: 0.2rem solid var(--color-secundario);
}

.main-resultados {
    display: flex;
    font-size: larger;
    justify-content: space-around;
    padding: 0rem 4rem;
    padding-top: 2rem;
}

.pie-de-página {
    align-items: center;
    background-color: var(--color-secundario);
    border-top: 0.5rem solid var(--color-tres);
    color: var(--color-principal);
    display: flex;
    font-family: var(--fuente-alternativa);
    font-weight: 200;
    gap: 1rem;
    height: auto;
    justify-content: center;
    padding: 1rem 0rem;
}

.pie-de-pagina-span {
    border-right: 0.2rem solid rgb(255, 255, 255);
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pie-de-página-enlaces {
    display: flex;
}

.enlace-linkedin {
    height: 2rem;
    padding-right: 0.5rem;
}

.enlace-github {
    height: 2rem;
    padding-left: 0.5rem;
}

.modal {
    background-color: var(--color-translucido);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-bloque {
    align-items: center;
    background-color: var(--color-principal);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 35%;
    justify-content: center;
    margin: 20% auto;
    outline: 0.5rem solid var(--color-secundario);
    width: 65%;
}

.modal-bloque-titulo {
    color: var(--color-cuatro);
    font-size: 3rem;
}

.modal-bloque-texto {
    font-size: x-large;
}

.modal-bloque-boton {
    border-radius: 2rem;
    font-family: var(--fuente-secundaria);
    font-style: normal;
    font-weight: 900;
    font-size: x-large;
    padding: 0.5rem;
    transition: background-color 0.5s ease;
    width: 15%;
}

.modal-bloque-boton:hover {
    color: var(--color-principal);
    background-color: var(--color-cuatro);
    outline: 0.2rem solid var(--color-secundario);
}

@media (max-width: 64rem){}
@media (max-width: 48rem){}